.lead__heading {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;  
  color: #fff;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .lead__heading {
    font-size: 50px;
    line-height: 56px;
    max-width: calc(100% - 48px);
  }
}


@media screen and (max-width: 425px) {
  .lead__heading {
    font-size: 40px;
    line-height: 44px;
    max-width: calc(100% - 24px);
  }
}