.place__paragraph {
font-size: 18px;
line-height: 29px;
text-align: left;
color:#fff;
margin: 0 0 26px 0;
-webkit-font-smoothing: antialiased; 
-moz-osx-font-smoothing: grayscale; 
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%; 
text-rendering: optimizeLegibility; 
}

.place__paragraph:last-child {
  margin: 0;
}