.lead__text-caption {
  font-family: "Inter";
  font-size: "Regular";
  display: block;
  margin: 8px 0 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; 
  text-rendering: optimizeLegibility; 
}

@media screen and (max-width: 1023px) {
  .lead__text-caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__text-caption {
    padding-left: 16px;
  }
}