.cover {
  margin: 0 auto;
  max-width: 1184px;
  height: 740px;
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../image/cover-trains.jpg);
  background-size: cover;
  

}


.cover:hover {
background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../image/cover-trains.jpg);
}
